:root {
    /* --main-bg-color:#f3e5f5; */
    --main-bg-color : #fafafa;
    --main-element-color : black;
    --main-theme-color : #880e4f;
  }
.bg-anim {
    color:var(--main-theme-color);
    transition: all 0.3s;
    position: relative;
}
.bg-anim span {
    transition: all 0.3s;
    padding-bottom: 10px !important;
}
.bg-anim::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: var(--main-theme-color);
    border-bottom-color: var(--main-theme-color);
    ;
    transform: scale(0.1, 1);
}
.bg-anim:hover span {
    letter-spacing: 2px;
}
.bg-anim:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.bg-anim::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.bg-anim:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}
